@import url('https://fonts.googleapis.com/css2?family=Gotham+Rounded:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;

  grid-template-columns: repeat(4, 450px);
  grid-template-rows: minmax(350px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid black;
  outline: none;
  font-weight: lighter;
  background-color: rgba(255, 255, 255, .2);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  
  transform: perspective(500px) translateZ(0);
  transition: transform 0.5s ease;
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

  transform: perspective(500px) translateZ(10px);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(11, 59, 30, 0.9);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 50px;
  word-wrap: break-word;
  word-break: break-all;
}

.output:hover {
    background-color: rgba(11, 59, 30, 1);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
  }

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 2.5rem;
}

.output .current-operand {
  color: white;
  font-size: 4.5rem;
}

/* boton modo oscuro */

body.dark-mode {
    background: linear-gradient(to right, #1b3746, #1b4b2f);
    color: #fff;
  }

  /*slider*/

  .switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
  }
  
  .switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #83e05e;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #3f77af;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  @media screen and (max-width: 323px) {
    /* Estilos específicos para pantallas muy pequeñas */
    .calculator-grid {
        min-height: 50vh;
        grid-template-columns: repeat(4, 75px);
        grid-template-rows: minmax(1px, auto) repeat(5, 120px);
    }

    .output {
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        padding: 50px;
    }

    .output .previous-operand {
        font-size: 15px;
    }

    .output .current-operand {
        font-size: 25px;
    }

    .calculator-grid > button {
        font-size: 20px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        
      }
      
      .calculator-grid > button:hover {
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      }

      /*slider*/

  .switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
  }
  
  .switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background-color: #83e05e;
    transition: .4s;
    border-radius: 10px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2.5px;
    background-color: rgb(255, 255, 255);
    transition: .4s;
    border-radius: 50%;
  }
  
  
  input:checked + .slider:before {
    transform: translateX(24px);
  }
  
 
  }

  @media screen and (max-width: 767px) {
    /* Estilos específicos para pantallas pequeñas */

    .calculator-grid {
        min-height: 0vh;
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: minmax(10px, auto) repeat(5, 50px);
    }

    .output {
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        padding: 50px;
    }

    .output .previous-operand {
        font-size: 15px;
    }

    .output .current-operand {
        font-size: 25px;
    }

    .calculator-grid > button {
        font-size: 20px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        
      }
      
      .calculator-grid > button:hover {
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      }

      /*slider*/

  .switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
  }
  
  .switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background-color: #83e05e;
    transition: .4s;
    border-radius: 10px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2.5px;
    background-color: rgb(255, 255, 255);
    transition: .4s;
    border-radius: 50%;
  }
  
  
  input:checked + .slider:before {
    transform: translateX(24px);
  }
 
  }



  }